<div>
  <h3>Contact Me</h3>
  <form name="contact" netlify>
    <label for="name">Name</label>
    <input type="text" name="name" required />
    <label for="email">Email</label>
    <input type="email" name="email" required />
    <label for="phone">Phone</label>
    <input type="text" name="phone" required />
    <label for="description">How Can I Help?</label>
    <textarea name="description" />
  </form>
</div>
