<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<!-- <style>
     /* Links */
     a:hover {
         color: #b6b84c;
     }

     /* Header Buttons on Startpage */
     a.btn {
         color: white;
          background-color: #ced067;
     }
     a.btn:hover {
          background-color: #b6b84c;
     }

     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #b6b84c;
     }
     a.fn-item:hover {
          color: #ced067;
     }

     /* Content / Sections */
     .post-holder.odd {
          background: #B80135;
          color: white;
     }
     .post-holder {
          background: #f2efe8;
     }
     body {
          color: #3A4145;
     }

     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #22343A;
     }
</style> -->

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
<style>
  /*
   * https://coolors.co/8ecae6-219ebc-023047-ffb703-fb8500
   * light-blue: #8ecae6;
   * primary-blue: #219ebc;
   * primary-blue (hover): #1a7e96;
   * dark-blue: #023047;
   * light-orange: #ffb703;
   * dark-orange: #fb8500;
   */

  header#site-head {
    background-position: center 75%;
    background-color: #f1f1f1;
  }

  header#site-head #site-head-content {
    top: -95px;
  }

  h1.blog-title, h2.blog-description {
    color: #023047;
  }

  h2, p {
    color: #023047;
  }

  #contact-form-container {
    padding: 16px 0;
  }

  form label {
    display: block;
    margin-top: 16px;
  }

  form input[type="text"],
  form input[type="email"],
  form select {
    min-height: 40px;
  }

  form textarea {
    min-height: 80px;
  }

  form input, form textarea {
    width: 100%;
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
    padding-left: 8px;
  }

  a {
    color: #fb8500;
  }

  .post-holder section a,
  section.post-content a,
  a.btn,
  form input[type="submit"] {
    text-decoration: none;
    background-color: #219ebc;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    color: white;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    overflow: visible;
    padding: 10px 20px 10px 20px;
    position: relative;
    margin-top: 2rem;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
  }

  .post-holder section a,
  section.post-content a {
    display: block;
    margin: auto;
    margin-top: 16px;
    width: 150px;
    text-align: center;
  }

  a.btn:hover {
    background: #1a7e96;
    color: white;
  }

  a:hover {
    color: #1a7e96;
  }

  a.fn-item {
    color: #023047;
  }
  a.fn-item:hover {
    color: black;
  }
  a.fn-item.active {
    color: #fb8500;
  }

  /*
   * dumb but it is after the a.btn so it can override the margin
   */
  form input[type="submit"] {
    display: block;
    max-width: 100px;
    margin: 16px auto 0;
    border: 1px solid transparent;
  }

  .post-holder {
    background: white;
    background: #f1f1f1;
  }
  .post-holder.odd {
    background: #f1f1f1;
    background: white;
    color: black;
  }

  hr {
    border-top: 1px solid #219ebc;
  }
</style>
